<div class="user">
  <div class="user-profile">
    <div class="user-info">
      <div class="user-info__photo">
        <img
          class="user-info__photo__img"
          src="../assets/user-photo.png"
          alt=""
        />
      </div>

      <div class="user-info__user-data">
        <div class="user-data-name">
          <span class="user-data-name__icon"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21"
                stroke="#4F3A7A"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"
                stroke="#4F3A7A"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span class="user-data-name__text">Анна</span>
        </div>
        <div class="user-data-email">
          <span class="user-data-email__icon"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z"
                stroke="#4F3A7A"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22 6L12 13L2 6"
                stroke="#4F3A7A"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span class="user-data-email__text">Hanna22gmail.com</span>
        </div>
        <div class="user-data-rating">* * * *</div>
      </div>
    </div>

    <div class="user-calendar">
      <img src="../../../../assets/icons/user-page/Calendar.png" alt="" />
    </div>
  </div>

  <div class="user-dashboard">
    <div class="user-dashboard__item">
      <span class="user-dashboard__psychologists-title">Психологи</span>
      <span class="user-dashboard__psychologists-img"
        ><img
          src="../../../../assets/icons/user-page/psychologiest.png"
          alt=""
      /></span>
    </div>
    <div class="user-dashboard__item">
      <span class="user-dashboard__sessions-title">Мої сеанси</span>
      <span class="user-dashboard__sessions-img"
        ><img src="../../../../assets/icons/user-page/sessions.png" alt=""
      /></span>
    </div>
    <div class="user-dashboard__item">
      <span class="user-dashboard__find-psychologist-title"
        >Підібрати психолога</span
      >
      <span class="user-dashboard__find-psychologist-img"
        ><img
          src="../../../../assets/icons/user-page/find-psychologiest.png"
          alt=""
      /></span>
    </div>
  </div>

  <button class="create-psychologist-profile">
    Заповнити профіль як психолог
  </button>
</div>