@import "../../../styles.scss";

.footer {
  .footer__banner {
    width: 100%;
    margin: 120px auto 0;

    .footer__banner_title {
      @include primary-title;
    }

    .footer__banner_details {
      display: flex;
      margin: 0 0 0 120px;
      align-items: center;
      justify-content: center;

      .footer__img-bckg {
        background-image: url(../../../assets/Psycho/frontg.svg),
          url(../../../assets/Psycho/backg.svg);
        background-position: center right;
        background-repeat: no-repeat;
        width: 350px;
        height: 350px;

        .footer__img {
          width: 210px;
          height: 210px;
        }
      }
    }

    .footer__description {
      display: flex;
      flex-direction: column;
      width: 630px;
      margin: 80px 0 0 45px;

      .footer__heading {
        @include secondary-title;

        text-align: start;
        margin: 0;
      }

      .footer__text {
        @include normal-text;

        margin: 20px 0 0 0;
      }
    }

    .footer__btn {
      @include main-button;

      width: 150px;
      margin-top: 40px;
    }
  }

  .footer-panel {
    box-sizing: border-box;
    margin: 80px auto 0;
    background-image: url("../../../assets/footer-bckg.svg");
    background-size: 100%;
    background-repeat: no-repeat;

    .footer-panel__nav {
      padding: 100px 100px 30px;
      display: flex;
      justify-content: space-around;
      align-items: baseline;

      .footer-panel__nav-col {
        display: flex;
        flex-direction: column;
        align-items: start;

        .footer-panel__nav_link {
          color: $secondary-color;
          font-family: $font;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;

          padding: 10px;
          text-align: center;
        }

        .footer-panel__nav_email {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .footer-panel__copyright {
      display: block;
      width: 300px;
      margin: 0 auto 0;
      padding-bottom: 30px;

      color: $secondary-color;
      font-family: $font;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
