@import "src/styles.scss";

.footer-panel {
  box-sizing: border-box;
  margin: 10px auto 0;
  padding: 15px 24px;

  background-color: $primary-color;

  @include desktop {
    margin: 170px auto 0;
    background-image: url("../../../assets/footer-bckg.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
  }

  .footer-panel__nav {
    display: flex;
    flex-direction: column;

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-around;
      padding: 0;
      @include adaptive-value("padding-top", 60, 10);
      @include adaptive-value("padding-left", 80, 2);
      @include adaptive-value("padding-right", 80, 2);
      @include adaptive-value("gap", 50, 10);
    }

    .footer-panel__nav-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &:last-child {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      @include desktop {
        &:last-child {
          flex-direction: column;
          margin: 0;
          align-items: flex-start;
        }
      }

      .footer-panel__nav_link {
        color: $secondary-color;
        font-family: $font;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;

        padding: 5px;
        text-align: center;

        @include desktop {
          @include adaptive-value("font-size", 20, 12);
        }
      }

      .footer-panel__nav_email {
        display: block;

        font-size: 14px;
        font-weight: 500;

        @include desktop {
          margin-left: 0;
          font-weight: 400;
        }
      }
    }
  }

  .footer-panel__copyright {
    justify-content: center;
    display: flex;
    color: $secondary-color;
    font-family: $font;
    @include adaptive-value("font-size", 12, 10);

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 16px 0 0;

    @include desktop {
      font-size: 12px;
    }
  }
}
