<footer class="footer">
  <div class="footer__banner">
    <h1 class="footer__banner_title">Потрібна допомога у виборі психолога?</h1>
    <div class="footer__banner_details">
      <div class="footer__img-bckg"></div>
      <div class="footer__description">
        <h4 class="footer__heading">
          Проходьте зручний та швидкий тест і ми допоможемо Вам у виборі
          психолога.
        </h4>
        <p class="footer__text">
          Наш сервіс налічує близько 1000 кваліфікованих спеціалістів з усієї
          України, тому кожен користувач знайде потрібного психолога.
        </p>
        <button class="footer__btn" type="button">Пройти тест</button>
      </div>
    </div>
  </div>

  <div class="footer-panel">
    <div class="footer-panel__nav">
      <div class="footer-panel__nav-col">
        <a class="footer-panel__nav_link" href="">Про нас</a>
        <a class="footer-panel__nav_link" href="">Психологам</a>
        <a class="footer-panel__nav_link" href="">Психологічний тест</a>
      </div>
      <div class="footer-panel__nav-col">
        <a class="footer-panel__nav_link" href="">Політика конфіденційності</a>
        <a class="footer-panel__nav_link" href="">Правила користування</a>
      </div>
      <div class="footer-panel__nav-col">
        <a class="footer-panel__nav_link" href="">Відділ підтримки</a>
        <a
          class="footer-panel__nav_link footer-panel__nav_email"
          href="mailto: info@MindLink.com"
          >info@MindLink.com</a
        >
      </div>
    </div>

    <p class="footer-panel__copyright">
      &copy; 2023 MindLink. All rights reserved. Design by Fooror
    </p>
  </div>
</footer>
