@import "../../../styles.scss";

header {
  background-color: $primary-color;
  display: grid;
  grid-template-areas:
    "logo login navbar_btn"
    "navbar . .";
  justify-content: space-between;

  @include desktop {
    display: flex;
    height: 60px;
  }

  .header-logo {
    display: flex;
    height: 60px;
    align-items: center;
    margin: 0 19px;
    grid-area: logo;
    text-decoration: none;

    @include desktop {
      align-items: center;
      margin-left: 80px;
      cursor: pointer;
    }

    .header-logo-img {
      width: 34px;
      height: 34px;

      @include desktop {
      }
    }

    .header-title {
      color: $secondary-color;
      font-family: $font;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 14px;
      @include desktop {
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
    position: relative;

    grid-area: navbar;

    .nav {
      display: none;
      flex-direction: column;
      height: 100vh;

      @include desktop {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        height: 60px;
      }

      .nav-link {
        display: block;

        color: $secondary-color;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        cursor: pointer;

        @include desktop {
        }
      }
    }
  }

  .login {
    grid-area: login;
    display: flex;
    align-items: center;

    @include desktop {
      margin-right: 30px;
    }

    .language-btn {
      display: none;

      @include desktop {
        display: block;

        background-color: $primary-color;
        border: none;
        height: 24px;
        width: 24px;
        cursor: pointer;
        svg {
          margin-top: -1px;
        }
      }
    }

    a {
      display: block;
      width: 15px;
      margin-right: 40px;
      text-decoration: none;

      @include desktop {
        width: 100%;
        margin: 0;
      }

      .login-btn {
        display: none;

        background-color: $primary-color;
        border: none;
        margin: 0 20px 0 32px;
        cursor: pointer;

        @include desktop {
          display: flex;
          align-items: center;
          color: $secondary-color;
          font-family: $font;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        span {
          display: none;

          @include desktop {
            display: block;
            margin-right: 10px;
          }
        }

        .login-btn-icon {
          height: 24px;
          width: 24px;
        }
      }
    }
  }

  .mobile-navbar_btn {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 20px;
    right: 40px;

    background-color: transparent;
    border: none;

    grid-area: navbar_btn;

    @include desktop {
      display: none;
    }

    .mobile-navbar__dash {
      display: block;
      height: 2px;
      width: 30px;
      background-color: #fff;
      margin-bottom: 4px;
      transition: transform 0.3s;

      &.is-open:nth-child(1) {
        transform: rotate(-45deg) translate(0, 13px);
      }

      &.is-open:nth-child(2) {
        opacity: 0;
      }

      &.is-open:nth-child(3) {
        opacity: 0;
      }

      &.is-open:nth-child(4) {
        transform: rotate(45deg) translate(0, -13px);
      }
    }
  }
}
