<header class="header">
  <a class="header-logo" routerLink="/" (click)="closeMobileNav()">
    <img
      class="header-logo-img"
      src="../../../assets/img/main-logo.png"
      alt="Main logo in the shape of a flower with petals made of hearts"
    />
    <h1 class="header-title">MindLink</h1>
  </a>

  <div class="navbar">
    <nav class="nav-desktop">
      <div type="text" class="nav-search">
        <button class="nav-search-btn">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z"
              stroke="#C9C9C9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14 14L11.1 11.1"
              stroke="#C9C9C9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <input
          type="text"
          class="nav-search-input"
          placeholder="Пошук психолога"
        />
      </div>
      <a class="nav-link" href="#">Про нас</a>
      <a class="nav-link" href="#">Психологам</a>
      <a class="nav-link" href="#">Типи терапії</a>
      <a class="nav-link" href="#">Питання</a>
    </nav>

    <nav class="nav-mobile" [ngClass]="{ active: isMobileNavOpen }" #nav>
      <div type="text" class="nav-search">
        <button class="nav-search-btn">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z"
              stroke="#C9C9C9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14 14L11.1 11.1"
              stroke="#C9C9C9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <input
          type="text"
          class="nav-search-input"
          placeholder="Пошук психолога"
        />
      </div>
      <a class="nav-link" href="#">Про нас</a>
      <a class="nav-link" href="#">Психологам</a>
      <a class="nav-link" href="#">Типи терапії</a>
      <a class="nav-link" href="#">Питання</a>
      <a class="nav-link" href="#">Політика конфіденційності</a>
      <a class="nav-link" href="#">Правила користування</a>
      <a class="nav-link" href="#">Відділ підтримки</a>
      <a class="nav-link" href="#">info@MindLink.com</a>
    </nav>
  </div>

  <div class="login" *ngIf="!(authService.isAuthenticated$ | async)">
    <a routerLink="/login" (click)="mobileNav()">
      <button
        class="login-btn"
        type="button"
        [ngClass]="{ active: isMobileNavOpen }"
        #loginBtn
      >
        <span>Вхід</span>
        <svg
          class="login-btn-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="Iconsax/Outline/logincurve">
            <path
              id="Vector"
              d="M15.24 22.27H15.11C10.67 22.27 8.52997 20.52 8.15997 16.6C8.11997 16.19 8.41997 15.82 8.83997 15.78C9.24997 15.74 9.61997 16.05 9.65997 16.46C9.94997 19.6 11.43 20.77 15.12 20.77H15.25C19.32 20.77 20.76 19.33 20.76 15.26V8.73998C20.76 4.66998 19.32 3.22998 15.25 3.22998H15.12C11.41 3.22998 9.92997 4.41998 9.65997 7.61998C9.60997 8.02998 9.26997 8.33998 8.83997 8.29998C8.74141 8.29228 8.64534 8.2652 8.55727 8.22028C8.46921 8.17537 8.39087 8.11351 8.32677 8.03826C8.26266 7.96301 8.21404 7.87583 8.1837 7.78175C8.15336 7.68766 8.1419 7.58851 8.14997 7.48998C8.48997 3.50998 10.64 1.72998 15.11 1.72998H15.24C20.15 1.72998 22.25 3.82998 22.25 8.73998V15.26C22.25 20.17 20.15 22.27 15.24 22.27Z"
              fill="#F1F0F5"
            />
            <path
              id="Vector_2"
              d="M14.88 12.75H2C1.59 12.75 1.25 12.41 1.25 12C1.25 11.59 1.59 11.25 2 11.25H14.88C15.0789 11.25 15.2697 11.329 15.4103 11.4697C15.551 11.6103 15.63 11.8011 15.63 12C15.63 12.1989 15.551 12.3897 15.4103 12.5303C15.2697 12.671 15.0789 12.75 14.88 12.75Z"
              fill="#F1F0F5"
            />
            <path
              id="Vector_3"
              d="M12.65 16.1C12.46 16.1 12.27 16.03 12.12 15.88C11.9806 15.7388 11.9023 15.5484 11.9023 15.35C11.9023 15.1515 11.9806 14.9611 12.12 14.82L14.94 12L12.12 9.17997C11.9806 9.03883 11.9023 8.8484 11.9023 8.64997C11.9023 8.45154 11.9806 8.2611 12.12 8.11997C12.41 7.82997 12.89 7.82997 13.18 8.11997L16.53 11.47C16.82 11.76 16.82 12.24 16.53 12.53L13.18 15.88C13.03 16.03 12.84 16.1 12.65 16.1Z"
              fill="#F1F0F5"
            />
          </g>
        </svg>
      </button>
    </a>
  </div>

  <div class="login" *ngIf="authService.isAuthenticated$ | async">
    <a>
      <button class="login-btn" type="button">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21"
            stroke="#F1F0F5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"
            stroke="#F1F0F5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span routerLink="/user-page">Мій профіль</span>
      </button>
    </a>

    <a>
      <button class="login-btn" type="button">
        <span (click)="logout()">Вихід</span>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H9"
            stroke="#F1F0F5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M16 17L21 12L16 7"
            stroke="#F1F0F5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M21 12H9"
            stroke="#F1F0F5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </a>
  </div>

  <div
    class="mobile-navbar_btn"
    (click)="mobileNav()"
    [ngClass]="{ active: isMobileNavOpen }"
  >
    <span
      class="mobile-navbar__dash"
      *ngFor="let _ of [1, 2, 3, 4]"
      [ngClass]="{ 'is-open': isMobileNavOpen }"
    ></span>
  </div>
</header>
