<div class="search-block">
  <h4 class="search-block__title">Наші спеціалісти</h4>
  <!-- <app-search-bar></app-search-bar> -->
  <!-- <input type="checkbox" (change)="toggleCategory('PSYCHOTHERAPIST')" />
  Психотерапевт
  <input type="checkbox" (change)="toggleCategory('CHILD_PSYCHOLOGIST')" />
  Child Psychologist
  <input type="checkbox" (change)="toggleCategory('PSYCHOLOGIST_SEXOLOGIST')" />
  Психолог-сексолог
  <input type="checkbox" (change)="toggleCity('KYIV')" />
  Київ
  <input type="checkbox" (change)="toggleCity('LVIV')" />
  Львів -->

  <div class="cards-container">
    <app-specialist-card
      class="app-specialist-card"
      *ngFor="let specialist of specialistsList | async"
      [specialist]="specialist"
    ></app-specialist-card>
  </div>
  <button class="search-block__button" type="button">Переглянути більше</button>
</div>
