@import "../../../styles.scss";

.search-block {
  @include desktop {
    margin: 100px auto 0;
  }

  .search-block__title {
    @include primary-title;

    font-size: 18px;

    @include desktop {
      font-size: 32px;
    }
  }

  .cards-container {
    margin: 0 24px;
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 86px 0 0;
      gap: 40px 15px;
    }
    .app-specialist-card {
      @include desktop {
        width: 360px;
      }
    }
  }

  .search-block__button {
    @include main-button;

      display: block;
      margin: 20px auto;
      
    @include desktop {
      @include main-button;

      display: block;
      margin: 40px auto;
    }
  }
}
