@import "src/styles.scss";

.search-block {
  @include desktop {
    margin: 100px 32px 0;
  }

  .search-block__title {
    @include primary-title;

    font-size: 18px;

    @include desktop {
      font-size: 32px;
    }
  }

  .cards-container {
    margin: 24px auto;

    @include desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 86px auto 0;
      gap: 20px;
    }
  }

  .search-block__button {
    @include main-button;

    display: block;
    margin: 20px auto;

    @include desktop {
      margin: 80px auto;
    }
  }
}
