<form class="search-form">
  
  <div class="input-container">
    <img src="../../../../assets/icons/filter-icn.svg" />
    <input class="input-field" type="text" placeholder="Фільтр" name="filter" />
  </div>

  <div class="input-container">
    <img src="../../../../assets/icons/search-icn.svg" />
    <input class="input-field" type="text" placeholder="Пошук" name="search" />
  </div>

  <div class="search-form__sel">
    <select class="search-form__select" name="pets" id="pet-select">
      <option value="0">Cортувати</option>
      <option value="1">Cортувати</option>
    </select>
  </div>
</form>
