@import "../../../../styles.scss";

* {
  box-sizing: border-box;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  margin: 0 24px 0;

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    margin: 0;
    gap: 20px;
  }

  .input-container {
    display: flex;
    width: 146px;
    height: 36px;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    padding: 10px;

    @include desktop {
      height: 42px;
      padding-left: 24px;
      @include adaptive-value("width", 320, 128);

      // @include adaptive-value("padding-right", 200, 0);
    }

    .input-field {
      width: 98px;
      height: 36px;
      margin-left: 10px;
      padding: 0;
      outline: none;
      border: none;
      color: #343241;
      font-family: $font;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @include desktop {
        margin-left: 20px;
        @include adaptive-value("width", 300, 10);
      }
    }
  }

  .search-form__sel {
    display: flex;
    align-items: center;

    @include desktop {
      padding: 10px 0 9px 20px;
      @include adaptive-value("padding-right", 251, 0);
    }

    .search-form__select {
      width: 110px;

      padding: 0;
      outline: none;
      border: none;
      color: #343241;
      font-family: $font;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @include desktop {
        height: 42px;
        @include adaptive-value("width", 130, 90);
      }
    }
  }

  .search-form__block {
    @include desktop {
      position: relative;
      box-sizing: border-box;

      @include adaptive-value("width", 360, 240);
    }

    .search-icon {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      width: 160px;
      height: 38px;
      border-radius: 10px;
      border: 1px solid #8c8c94;
      padding: 15px;

      color: $main-text-color;
      font-family: $font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: none;

      background-color: #fff;

      @include desktop {
        height: 20px;
        width: 20px;

        background-color: transparent;

        position: absolute;
        top: 9px;
        left: 10px;
      }

      .search-icon__btn-txt {
        display: block;
        margin-left: 25px;
        align-items: center;

        @include desktop {
          display: none;
        }
      }
    }

    .search-form__filter {
      display: none;

      @include desktop {
        @include seacrh-field;

        display: block;
        max-width: 360px;
        margin-right: 0;
        padding-left: 50px;
      }
    }

    .search-form__search {
      display: none;

      @include desktop {
        @include seacrh-field;

        // min-width: 330px;
        display: block;
        margin-left: 5px;
        padding-left: 50px;
      }
    }
  }

  .search-form__sel {
    display: none;

    @include desktop {
      display: block;
      @include adaptive-value("width", 360, 120);
    }

    select {
    }

    .search-form__select {
      @include desktop {
        @include seacrh-field;
        @include filters-font;

        max-width: 360px;

        padding-left: 16px;

        appearance: none;
        -webkit-appearance: none;

        background-image: url("../../../../assets/icons/select-icn.svg");
        background-repeat: no-repeat;
        background-position: 95% 13px;
        background-size: 22px 22px;
      }
    }
  }
}
