@import "../../../../styles.scss";

.search-form {
  display: flex;
  justify-content: space-between;
  margin: 0 24px 0;

  @include desktop {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 0 80px 0;
  }

  .search-form__block {
    @include desktop {
      position: relative;
      box-sizing: border-box;
    }

    .search-icon {
      display: flex;
      align-items: center;
      justify-content: start;

      width: 160px;
      height: 38px;
      border-radius: 10px;
      border: 1px solid #8c8c94;
      padding: 15px;

      color: $main-text-color;
      font-family: $font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: none;

      background-color: #fff;

      @include desktop {
        height: 20px;
        width: 20px;

        background-color: transparent;

        position: absolute;
        top: 9px;
        left: 10px;
      }

      .search-icon__btn-txt {
        display: block;
        margin-left: 25px;
        align-items: center;

        @include desktop {
          display: none;
        }
      }
    }

    .search-form__filter {
      display: none;

      @include desktop {
        @include seacrh-field;

        display: block;
        margin-left: 5px;
        padding-left: 50px;
      }
    }

    .search-form__search {
      display: none;

      @include desktop {
        @include seacrh-field;

        display: block;
        margin-left: 5px;
        padding-left: 50px;
      }
    }
  }

  .search-form__sel {
    display: none;

    @include desktop {
      display: block;
    }

    .search-form__select {
      @include desktop {
        @include seacrh-field;
        @include filters-font;

        min-width: 270px;
        padding-left: 16px;

        appearance: none;
        -webkit-appearance: none;

        background-image: url("../../../../assets/icons/select-icn.svg");
        background-repeat: no-repeat;
        background-position: 95% 13px;
        background-size: 22px 22px;
      }
    }
  }
}
