<form class="search-form">
  <div class="search-form__block">
    <button class="search-icon" type="button">
      <img src="../../../../assets/icons/filter-icn.svg" />
    </button>
    <input
      class="search-form__filter"
      type="text"
      placeholder="Фільтр"
      name=""
      id=""
    />
  </div>
  <div class="search-form__block">
    <button class="search-icon" type="button">
      <img src="../../../../assets/icons/search-icn.svg" />
    </button>
    <input
      class="search-form__search"
      type="text"
      placeholder="Пошук"
      name=""
      id=""
    />
  </div>
  <div class="search-form__sel">
    <select class="search-form__select" name="pets" id="pet-select">
      <option value="">Cортувати</option>
    </select>
  </div>
</form>
