@import "../../../../styles.scss";

.search-form {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto 0;
  width: 100%;
  
  .search-form__block {
    position: relative;
    box-sizing: border-box;

    .search-icon {
      height: 20px;
      width: 20px;
      border: none;
      background-color: transparent;

      position: absolute;
      top: 11px;
      left: 20px;
    }

    .search-form__filter {
      @include seacrh-field;

      padding-left: 50px;
    }

    .search-form__search {
      @include seacrh-field;

      padding-left: 50px;
    }
  }

  .search-form__sel {
    .search-form__select {
      @include seacrh-field;
      @include filters-font;

      padding-left: 16px;
      width: 360px;

      appearance: none;
      -webkit-appearance: none;

      background-image: url("../../../../assets/icons/select-icn.svg");
      background-repeat: no-repeat;
      background-position: 95% 13px;
      background-size: 22px 22px;
    }
  }
}
