<div class="specialist-card">
  <div class="specialist-card__main">
    <img
      class="specialist-card__photo"
      src="{{ specialist.photoLink }}"
      alt="Photo"
    />
    <div class="specialist-card__info">
      <h4 class="specialist-card__name">
        {{ specialist.firstName }} {{ specialist.lastName }}
      </h4>
      <p class="specialist-card__practice">
        {{ specialist.card.experience }} років практики
      </p>
      <div class="specialist-card__rating">
        {{ specialist.card.rating }} R A T I N G
      </div>
      <p class="specialist-card__price">{{ specialist.card.price }} грн/год</p>
      <p class="specialist-card__location">{{ specialist.location }}</p>
    </div>
  </div>

  <div class="specialist-card__description">
    <span *ngFor="let category of specialist.card.categories; let last = last"
      >{{ category }}<ng-container *ngIf="!last">, </ng-container>
    </span>
  </div>
  <a
    class="specialist-card__link"
    routerLink="/specialist-page/{{ specialist.id }}"
    >Переглянути профіль</a
  >
  <button class="specialist-card__conect-btn" type="button">
    Записатися на прийом
  </button>
</div>
