@mixin main-button {
  color: $secondary-color;
  font-family: $font;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  letter-spacing: 0.8px;
  padding: 8px 16px;
  border-radius: 8px;
  background: $primary-color;
  border: none;
  cursor: pointer;
}

@mixin primary-title {
  text-align: center;
  color: $main-text-color;
  font-family: $font;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
}

@mixin secondary-title {
  color: $main-text-color;
  font-family: $font;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

@mixin normal-text {
  color: $main-text-color;
  font-family: $font;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin filters-font {
  color: $filters-font-color;
  font-family: $font;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin seacrh-field {
  width: 100%;
  max-width: 360px;
  // min-width: 210px;
  height: 44px;
  border-radius: 10px;
  outline: none;
  border: none;

  &::placeholder {
    @include filters-font;
  }
}

@mixin account-input-field {
  display: block;
  width: 100%;
  margin-top: 8px;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #8c8c94;
  padding: 10px;
  box-sizing: border-box;

  color: #c9c9c9;
  font-family: $font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
