@mixin adaptive-value($property, $startSize, $minSize) {
  $maxWidth: 1280;
  // $maxWidthContainer: 1120px;

  $addSize: $startSize - $minSize;

  #{$property}: calc(
    #{$minSize + px} + #{$addSize} * ((100vw - 480px) / #{$maxWidth - 480})
  );
}

@mixin h2-desktop {
  font-family: $font;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}

@mixin h3-small-text {
  font-family: $font;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin main-button {
  color: $secondary-color;
  font-family: $font;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  letter-spacing: 0.8px;
  padding: 8px 16px;
  border-radius: 8px;
  background: $primary-color;
  border: none;
  cursor: pointer;
}

@mixin primary-title {
  text-align: center;
  color: $main-text-color;
  font-family: $font;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
}

@mixin h2-second-text {
  color: $main-text-color;
  font-family: $font;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

@mixin normal-text {
  color: $main-text-color;
  font-family: $font;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin filters-font {
  color: $filters-font-color;
  font-family: $font;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin seacrh-field {
  // width: 100%;
  @include adaptive-value("width", 360, 120);
  // max-width: 3600px;
  // min-width: 220px;
  height: 44px;
  border-radius: 10px;
  outline: none;
  border: none;

  &::placeholder {
    @include filters-font;
  }
}

@mixin account-input-field {
  display: block;
  width: 100%;
  margin-top: 8px;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #8c8c94;
  padding: 10px;
  box-sizing: border-box;

  color: #c9c9c9;
  font-family: $font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
