<div class="wrapper">
  <h1>Умови користування Сайтом</h1>

  <p>
    Ласкаво просимо на наш веб-ресурс! Нижче наведені повноцінні умови, які
    регулюють використання цього веб-ресурсу. Прохання уважно ознайомитися з
    ними перед реєстрацією на сайті. З моменту реєстрації користувач віддає свою
    душу за користуванням сайтом. Якщо ви не згодні з якоюсь частиною цих умов,
    будь ласка, не користуйтесь нашим сайтом.
  </p>

  <h2>1. Призначення сайту та обов'язки користувача</h2>

  <p>
    1.1. Сайт призначений для надання інформації про послуги пошуку спеціаліста
    для надлання послуг з психологічної допомоги онлайн
  </p>

  <p>
    1.2. Користувач має право зареєструватися на сайті та використовувати надані
    послуги відповідно до цих умов.
  </p>

  <p>
    1.3. Користувач не має право передавати свої права та обов'язки з
    використання сайту третім особам.
  </p>

  <h2>2. Інтелектуальна власність</h2>

  <p>
    2.1. Усі права на контент, розміщений на сайті, належать власникам сайту та
    авторам цього контенту.
  </p>

  <p>
    2.2. Користувач має право використовувати контент сайту тільки для особистих
    некомерційних цілей.
  </p>

  <h2>3. Конфіденційність та захист даних</h2>

  <p>
    3.1. Сайт зобов'язується зберігати конфіденційність інформації, яку надає
    користувач при реєстрації на сайті.
  </p>

  <p>
    3.2. Користувач згоден, що вказана ним інформація може використовуватися
    відповідно до політики конфіденційності сайту.
  </p>

  <h2>4. Відповідальність сторін</h2>

  <p>
    4.1. Сайт не несе відповідальності за втрати або шкоду, спричинену
    використанням інформації, розміщеної на сайті.
  </p>

  <p>
    4.2. Користувач несе відповідальність за точність та достовірність наданої
    інформації.
  </p>
</div>
