@import "../../../../styles.scss";

.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 24px 0;

  @include desktop {
    margin: 140px auto 0;
    max-width: 1600px;
  }

  .categories__title {
    margin: 40px auto 0;

    @include desktop {
      @include primary-title;

      display: block;
      margin: 0 auto 0;
    }
  }

  .categories__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;

    @include desktop {
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;

      margin: 90px 20px 0;
    }
  }

  .categories__item {
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto 14px;
    border-radius: 10px;

    background: #fff;

    @include desktop {
      height: 260px;
      width: 260px;
      display: flex;
      margin: 0 0 10px;

      padding: 20px;
    }

    .categories__item__title {
      margin: 10px auto 0;
      color: $main-text-color;
      font-family: $font;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @include desktop {
        color: $main-text-color;
        font-family: $font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;

        // margin: 20px auto 0;
      }
    }

    .categories__item__img {
      height: 43px;
      width: 43px;
      margin: auto;

      @include desktop {
        margin-top: 20px;
      }
    }

    .categories__item__text {
      display: none;

      @include desktop {
        display: block;
        min-height: 65px;
        margin-top: 20px;
      }
    }

    .categories__item__more-btn {
      margin-bottom: 10px;

      border: none;
      background-color: transparent;

      @include desktop {
        margin-left: auto;
        margin-top: 30px;
      }
    }
  }
}
