@import "src/styles.scss";

.categories {
  display: flex;
  flex-direction: column;
  margin: 0 24px 0;

  @include desktop {
    margin: 140px 0 0 0;
    @include adaptive-value("margin-left", 80, 40);
    @include adaptive-value("margin-right", 80, 40);
  }

  .categories__title {
    margin: 40px auto 0;
    @include primary-title;
    font-size: 16px;
    font-weight: 600;

    @include desktop {
      // @include primary-title;

      display: block;
      margin: 0 auto 0;
    }
  }

  .categories__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    @include adaptive-value("grid-gap", 20, 8);
    margin-top: 46px;

    @include desktop {
      grid-template-columns: repeat(4, auto);
      // justify-content: space-around;
    }
  }

  .categories__item {
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto 14px;
    border-radius: 10px;

    background: #fff;

    @include desktop {
      @include adaptive-value("width", 245, 190);
      @include adaptive-value("height", 245, 190);
      @include adaptive-value("padding", 14, 10);
      box-sizing: border-box;
      margin: 0;
    }

    .categories__item__title {
      margin: 10px auto 0;
      color: $main-text-color;
      font-family: $font;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @include desktop {
        color: $main-text-color;
        font-family: $font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;

        // margin: 20px auto 0;
      }
    }

    .categories__item__img {
      height: 43px;
      width: 43px;
      margin: auto;

      @include desktop {
        margin: 10px auto 0;
      }
    }

    .categories__item__text {
      display: none;

      @include desktop {
        white-space: pre-line;
        display: block;
        margin: 2px auto 0;
        @include adaptive-value("font-size", 14, 12);
      }
    }

    .categories__item__more-btn {
      margin-bottom: 10px;
      border: none;
      background-color: transparent;

      @include desktop {
        margin: 8px 0 0 80%;
        @include adaptive-value("margin-top", 8, 2);
      }
    }
  }
}
