<div class="wrapper">
  <div class="specialist">
    <h2 class="specialist__name">
      {{ specialist.firstName }} {{ specialist.lastName }}
    </h2>

    <div class="specialist__profile">
      <img
        class="specialist__profile__photo"
        src="{{ specialist.photoLink }}"
        alt="Photo"
      />

      <div class="specialist__profile__info">
        <div class="specialist__categories">
          <span
            *ngFor="let category of specialist.card.categories; let last = last"
            >{{ category }}<ng-container *ngIf="!last">, </ng-container>
          </span>
        </div>

        <p class="specialist__practice">
          {{ specialist.card.experience }} років практики
        </p>

        <p class="specialist__location">{{ specialist.location }}</p>

        <p class="specialist__price">{{ specialist.card.price }} грн/год</p>
      </div>

      <div class="specialist__about">
        <h4 class="specialist__about__title">Про себе</h4>
        <p class="specialist__about__text">
          {{ specialist.card.description }}
        </p>
      </div>
    </div>

    <div class="specialist__areas">
      <h4 class="specialist__areas-title">З якими напрямками я працюю</h4>
      <div class="specialist__areas-items">
        <span
          class="specialist__areas-item"
          *ngFor="let area of specialist.card.categories"
          >{{ area }}
        </span>
      </div>
    </div>
  </div>

  <div class="specialist__reception">
    <h4 class="specialist__reception-title">Запис</h4>
    <p class="specialist__reception-descr">
      *час або формат прийому може бути змінений або скасований не пізніше ніж
      за 24 години
    </p>

    <app-calendar></app-calendar>
  </div>

  <!-- <div class="specialist__articles">
    <h3 class="specialist__articles-title">Статті</h3>
    <app-article></app-article>
    <button class="specialist__articles-btn">Переглянути всі статті</button>
  </div> -->

  <div class="specialist__reviews">
    <h3 class="specialist__reviews-title">Відгуки</h3>
    <app-review></app-review>
    <div class="specialist__reviews-arrows">
      <button class="specialist__reviews-arrow">
        <img src="../../../../assets/icons/arrow-left.svg" alt="" />
      </button>
      <button class="specialist__reviews-arrow">
        <img src="../../../../assets/icons/arrow-right.svg" alt="" />
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
