@import "../../../../styles.scss";

.specialist-card {
  width: 100%;
  height: 402px;
  margin: 10px auto;

  border-radius: 10px;
  border: 1px solid #8c8c94;
  background: #f1f0f5;

  .specialist-card__main {
    display: flex;
    gap: 10px;

    margin: 20px;

    .specialist-card__photo {
      width: 150px;
      height: 200px;
    }

    .specialist-card__info {
      .specialist-card__name {
        margin: 0;
        color: $main-text-color;
        font-family: $font;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .pecialist-card__practice {
        color: $main-text-color;

        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .specialist-card__price {
        color: $main-text-color;

        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .specialist-card__rating {
      }

      .specialist-card__location {
        display: none;

        @include desktop {
          color: $main-text-color;
          display: block;
          font-family: $font;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }

  .specialist-card__description {
    margin: 20px;

    color: $main-text-color;
    font-family: $font;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
  }

  .specialist-card__link {
    color: #6669a0;

    font-family: $font;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    justify-content: end;

    @include desktop {
      margin: 20px;
    }
  }

  .specialist-card__conect-btn {
    @include main-button;

    display: block;
    width: 220px;
    margin: 28px auto 0;
  }
}
