@import "../../../../styles.scss";

.specialist-card {
  width: 272px;
  height: 292px;
  margin: 10px auto;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 10px;

  background: #fff;

  @include desktop {
    box-sizing: border-box;
    padding: 20px;
    @include adaptive-value("width", 360, 272);
    @include adaptive-value("height", 402, 292);
  }

  .specialist-card__main {
    display: flex;
    gap: 10px;
    margin: 20px;
    margin: 0;

    .specialist-card__photo {
      width: 122px;
      height: 152px;

      @include desktop {
        @include adaptive-value("width", 150, 122);
        @include adaptive-value("height", 200, 152);
      }
    }

    .specialist-card__info {
      margin: 10px 0 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;

      .specialist-card__name {
        margin: 0;
        color: $main-text-color;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include desktop {
          @include adaptive-value("font-size", 24, 14);
        }
      }

      .specialist-card__practice {
        margin: 0;
        color: $main-text-color;
        font-family: $font;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include desktop {
          @include adaptive-value("font-size", 14, 12);
        }
      }

      .specialist-card__price {
        margin: 0;
        color: $main-text-color;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .specialist-card__rating {
      }

      .specialist-card__location {
        display: none;

        @include desktop {
          color: $main-text-color;
          display: block;
          font-family: $font;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }

  .specialist-card__description {
    margin: 10px auto 0;

    color: $main-text-color;
    font-family: $font;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;

    @include desktop {
      @include adaptive-value("font-size", 16, 14);
    }
  }

  .specialist-card__link {
    display: block;
    text-align: end;
    margin-top: 10px;
    color: #6669a0;
    font-family: $font;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;

    @include desktop {
      text-align: start;
      margin-top: 10px;
    }
  }

  .specialist-card__conect-btn {
    @include main-button;

    display: block;
    width: 220px;
    margin: 20px auto 0;

    @include desktop {
      margin: 37px auto 0;
    }
  }
}
