<div class="specialist-card">
  <div class="specialist-card__main">
    <img
      class="specialist-card__photo"
      src="{{ specialist.photoLink }}"
      alt="Photo"
    />
    <div class="specialist-card__info">
      <h4 class="specialist-card__name">
        {{ specialist.name }} {{ specialist.surName }}
      </h4>
      <!-- <p>{{ specialist.id }}</p> -->
      <p class="specialist-card__practice">
        {{ specialist.experience }} років практики
      </p>
      <p class="specialist-card__price">{{ specialist.price }} грн/год</p>
      <div class="specialist-card__rating">R A T I N G</div>
      <p class="specialist-card__location">{{ specialist.location }}</p>
    </div>
  </div>

  <div class="specialist-card__description">
    <span *ngFor="let category of specialist.categories">{{ category }}, </span>
  </div>
  <a
    class="specialist-card__link"
    [routerLink]="['/specialist-page', specialist.id]"
    >Переглянути профіль</a
  >
  <button class="specialist-card__conect-btn" type="button">
    Записатися на прийом
  </button>
</div>
