@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/media-queries";

html {
  height: 100%;
  background-color: aqua;
}

body {
  margin: 0;
  padding: 0;

  @include desktop {
    min-width: 1024px;
  }
}
