@import "../../../../styles.scss";

.about-us__section {
  margin: 30px 43px 0;
  position: relative;
  z-index: 10;

  @include desktop {
    @include adaptive-value("margin-top", 330, 80);
    @include adaptive-value("margin-left", 80, 20);
    @include adaptive-value("margin-right", 80, 20);
  }

  .about-us__title {
    @include primary-title;

    margin: 40px auto 0;

    font-size: 16px;
    font-weight: 600;

    @include desktop {
      @include primary-title;
      margin: 40px auto 0;
    }
  }

  .about-us-card_section {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      margin: 0 auto 0;
      @include adaptive-value("margin-top", 100, 22);
      justify-content: space-between;
    }

    .about-us-card {
      margin: 20px 0 0;
      text-align: center;

      @include desktop {
        @include adaptive-value("width", 290, 200); // width: 330px;
        margin: 0;
      }

      .about-us-card__title {
        @include secondary-title;

        margin: 0 auto;

        font-size: 16px;

        @include desktop {
          padding: 5px 18px;

          font-size: 24px;
        }
      }

      .about-us-card__content {
        @include normal-text;

        // text-align: justify;
        font-size: 14px;

        @include desktop {
          @include adaptive-value("font-size", 20, 14);
          white-space: wrap;
        }
      }
    }
  }
}
