@import "../../../../styles.scss";

.how-it-works__section {
  margin: 125px 80px 0;

  .how-it-works__title {
    @include primary-title;
  }

  .how-it-works-items {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin: 80px auto 0;
  }

  .how-it-works-item {
    display: flex;
    position: relative;
    align-items: center;
    width: 510px;

    &:last-child {
      flex-direction: row-reverse;
    }

    .how-it-works-item__descriprion {
      display: flex;
      flex-direction: column;
      width: 270px;
      box-sizing: border-box;

      .how-it-works-item__title {
        @include secondary-title;

        text-align: start;
        width: 280px;
        margin: 0;
      }

      .how-it-works-item__text {
        @include normal-text;

        margin-top: 20px;
        padding: 5px 18px 0 0;
      }
    }

    .how-it-works-item__img {
      width: 250px;
      height: 250px;
    }
  }
}

.how-it-works-items {
  .how-it-works-item-odd {
    left: 50%;
  }
}

.how-it-works-items {
  .how-it-works-item-even {
    left: 0;
  }
}
