<div class="how-it-works__section">
  <h2 class="how-it-works__title">Як працює MindLink?</h2>

  <div class="how-it-works-items">
    <div
      class="row"
      [ngClass]="getClasses(i)"
      *ngFor="let card of cards; let i = index"
    >
      <div class="how-it-works-item"  [ngClass]="{'row-reverse': i === 2 || i === 3}">
        <div class="how-it-works-item__descriprion">
          <h4 class="how-it-works-item__title">{{ card.title }}</h4>
          <p class="how-it-works-item__text">{{ card.content }}</p>
        </div>
        <img class="how-it-works-item__img" src="{{ card.img }}" alt="#" />
      </div>
    </div>
  </div>
</div>
