@import "../../../../styles.scss";

* {
  box-sizing: border-box;
}
.row {
  width: 1280px;
}

.even {
  display: flex;
  flex-direction: row-reverse;
}

.odd {
  display: flex;
  flex-direction: row;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  @include desktop {
    width: 60%;
  }

  .how-it-works-item {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.how-it-works__section {
  margin: 40px 40px 0;

  @include desktop {
    margin: 125px 0 0;
  }

  .how-it-works__title {
    @include primary-title;

    font-size: 18px;

    @include desktop {
      font-size: 24px;
    }
  }

  .how-it-works-items {
    justify-content: center;
    align-items: center;

    @include desktop {
      display: flex;
      flex-direction: column;
      margin: 0 auto 0;
      align-items: center;
    }
  }

  .how-it-works-item {
    display: flex;
    margin: 40px auto 20px;

    @include desktop {
      display: flex;
      align-items: center;
      margin: 0;
      width: 550px;
    }

    .how-it-works-item__descriprion {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: justify;
      font-size: 14px;

      @include desktop {
        display: flex;
        flex-direction: column;
        width: 270px;
        box-sizing: border-box;
      }

      .how-it-works-item__title {
        @include secondary-title;

        margin: 0 auto 0;
        font-size: 16px;

        @include desktop {
          font-size: 24px;
          text-align: start;
          margin-left: 0;
        }
      }

      .how-it-works-item__text {
        @include desktop {
          @include normal-text;

          margin-top: 20px;
          padding: 5px 18px 0 0;
        }
      }
    }

    .how-it-works-item__img {
      display: none;

      @include desktop {
        display: inline-block;
        width: 250px;
        height: 250px;
        margin: -50px 10px 0;
      }
    }
  }
}

.ghost-div {
  display: none;

  @include desktop {
    display: block;
    height: 200px;
    width: 500px;
  }
}
