<div class="banner">
  <div class="wrapper">
    <div class="text">
      <h1 class="title">MindLink</h1>
      <p class="desription">- твоя психологічна допомога онлайн</p>
      <p class="moto">
        Покращуй своє ментальне здоровʼя разом з нашими спеціалістами
      </p>
      <button type="button" class="learn-more-btn">Дізнатися більше</button>
    </div>

    <div class="girl-img">
      <img
        class="girl-img-spot"
        src="../../../../assets/img/girl_on_spot.svg"
        alt=""
      />
    </div>
  </div>
</div>
