@import "src/styles.scss";

.banner {
  position: relative;

  z-index: 1;
  margin: 0 0 0 24px;

  @include desktop {
    position: relative;
    z-index: 1;
    @include adaptive-value("margin-left", 80, 20);
    // @include adaptive-value("margin-right", 80, 20);
  }

  .wrapper {
    display: flex;
    justify-content: stretch;

    @include desktop {
      display: flex;
      justify-content: space-between;
      @include adaptive-value("margin-top", 190, 72);
    }

    .text {
      margin-top: 40px;

      @include desktop {
        position: relative;
        height: 220px;
        z-index: 20;
      }

      .title {
        color: $main-text-color;
        font-family: $font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;

        @include desktop {
          @include adaptive-value("font-size", 48, 32);
        }
      }

      .desription {
        color: $main-text-color;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.6px;

        width: 160px;
        margin: 0;

        @include desktop {
          width: 100%;
          // height: 100%;
          // margin: 40px auto 0;
          @include adaptive-value("margin-top", 20, 8);
          @include adaptive-value("font-size", 32, 24);
        }
      }

      .moto {
        display: none;

        @include desktop {
          display: inline-block;
          color: $main-text-color;
          font-family: $font;
          white-space: nowrap;
          @include adaptive-value("margin-top", 40, 8);
          @include adaptive-value("font-size", 24, 16);
          margin-bottom: 0;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    .girl-img {
      position: relative;

      @include desktop {
        position: absolute;
        right: 0;
        // @include adaptive-value("margin-top", 100, 10);
      }

      .girl-img-spot {
        @include adaptive-value("width", 450, 200);
        @include adaptive-value("height", 450, 204);
        position: absolute;
        // top: 90px;
        // right: 30px;

        @include desktop {
          position: absolute;
          top: 90px;
          right: 30px;
          @include adaptive-value("width", 430, 220);
          @include adaptive-value("height", 360, 210);
        }
      }
    }
  }

  .learn-more-btn {
    @include main-button;
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    margin: 115px auto;

    width: 190px;
    z-index: 10;

    @include desktop {
      display: block;
      position: static;
      margin-left: 0;
      @include adaptive-value("margin-top", 40, 18);
    }
  }
}
