@import "../../../../styles.scss";

.banner {
  position: relative;
  z-index: 1;

  @include desktop {
    z-index: 1;
  }

  .wrapper {
    display: flex;
    justify-content: center;

    margin: 40px auto 0;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }

    .text {
      display: inline-block;
      padding: 0;

      @include desktop {
        width: 100%;
        display: inline-block;
        margin: 190px 0 0 80px;
        padding: 0;

        position: relative;
        z-index: 20;
      }

      .title {
        color: $main-text-color;
        font-family: $font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;

        @include desktop {
          font-size: 48px;
        }
      }

      .desription {
        color: $main-text-color;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.6px;

        width: 160px;

        @include desktop {
          width: 100%;
          font-size: 32px;
        }
      }

      .moto {
        display: none;

        @include desktop {
          display: inline-block;
          color: $main-text-color;
          font-family: $font;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    .girl-img {
      background-image: url("../../../../assets/main_girl_spot.png");
      background-size: 180px 180px;
      background-repeat: no-repeat;
      background-position: 20px 20px;

      @include desktop {
      }

      .girl-img-spot {
        height: 140px;
        width: 180px;

        @include desktop {
          height: 300px;
          width: 400px;
          top: 240px;
          right: 80px;

          position: absolute;
          background-image: url("../../../../assets/main_girl_spot.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50px;
        }
      }
    }

    .spot-img {
      @include desktop {
        position: absolute;
        left: 40;
        top: 480px;
        z-index: -1;
        background-color: transparent;

        background-image: url("../../../../assets/spot.png");
        background-repeat: no-repeat;
        height: 531px;
        width: 461px;
      }
    }
  }

  .learn-more-btn {
    @include main-button;

    display: block;
    margin: 0 auto 0;
    width: 190px;

    @include desktop {
      margin: 40px 0 0 80px;
    }
  }
}
